<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Toolbar -->
<div class="toolbar" role="banner" (window:resize)="onResize($event)">
  <img
    class="logo-style"
    routerLink="/Home"
    alt="Trex Logo"
    src="../assets/FOS2TREXBLACK.png"
  />
  <span routerLink="/Home" class="title-class">{{title}}</span>
    <div class="spacer"></div>
    <a aria-label="Go to Home" routerLink="/Home" title="Home">
      <i class="fa fa-home"></i>
    </a>
    <a aria-label="Go to Cart" routerLink="/Cart" title="Cart" class="headerIcons">
      <i class="fa fa-shopping-cart"></i>
      <span *ngIf="cartTotal() > 0 && isHome" class="badge">{{cartTotal()}}</span>
    </a>
</div>
<router-outlet></router-outlet>
