
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Trex Logo"
    src="../assets/FOS2TREX.png"
  />
  <span>T-Rex-Store</span>
    <div class="spacer"></div>
    <a aria-label="Go to Home" routerLink="/Home" title="Home">
      <img
        width="25"
        alt="Home"
        src="../assets/home.png"
      />
    </a>
    <a aria-label="Go to Cart" routerLink="/Cart" title="Cart">
      <img
        width="40"
        alt="Cart"
        src="../assets/cart.jpg"
      />
    </a>
</div>
<router-outlet></router-outlet>
