.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 60px;
}
.lnav-div{
  background-color: #f1f1f1;
  width: 30%;
  margin: 10px;
}

.main-div{
  background-color: #fff;
  width: 70%;
  margin: 10px;
}
